{% extends 'base.html.twig' %}

{% block containerLeft %}
    <h1>Ingredient Index</h1>
    <p>Click on the letters to see the associated ingredients.</p>

    <ul>
    {% for letter in letters %}
        <li>
            <a href="{{ path('ingredient_letter', {'letter': letter.letter }) }}">
                {{ letter.letter }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}