{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.picture != null %}
            <img src="{{ object.picture.path }}">
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}