<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {{ path('blog_post', {'slug': object.slug}) }}<span class="badge"">{{ object.title }}</span>
</td>