{% extends 'mail/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block altMail %}
    <a href="{{ urlPrefix }}{{ path('mail_view', {'id': archiveUuid}) }}">Wenn die Nachricht nicht korrekt angezeigt wird, hier klicken</a>
{% endblock %}

{% block content %}
    <p>We have a new subscriber! {{ subscribe.email }} just started following you :-)</p>
    <br>
    <br>
{% endblock %}

{% block unsubscribe %}
{% endblock %}