{% extends 'mail/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block altMail %}
    <a href="{{ urlPrefix }}{{ path('mail_view', {'id': archiveUuid}) }}">Wenn die Nachricht nicht korrekt angezeigt wird, hier klicken</a>
{% endblock %}

{% block content %}
    <p>Es gibt Neuigkeiten. Check it out :-)</p>
    {% for post in posts %}
        {% include 'post/show.html.twig' %}
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}