{% extends 'mail/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% set urlPrefix = "http://www.kuchenkruemel.ch" %}

{% block altMail %}
    <a href="{{ urlPrefix }}{{ path('mail_view', {'id': archiveUuid}) }}">If the E-Mail doesn't display correctly, click here</a>
{% endblock %}

{% block content %}
    <p>Hey, we just added some new content. Check it out!</p>
    {% for post in posts %}
        {% include 'post/show.html.twig' %}
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}