@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(/fonts/raleway.ttf) format('truetype');
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(/fonts/dancing_script.ttf) format('truetype');
}

* {
    font-family: 'Raleway', cursive;
}

body {
    background-color: white;
}

i.fa {
    color: gray;
}

a {
    color: black;
}
a:hover, a:active, a:visited, a:link {
    color: black;
    text-decoration: none;
}

div#wholeContainer {
    width: 1000px;
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

div#wholeTitle {
    position: relative;
    display: block;
    border: 6px solid black;
    width: 400px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    letter-spacing: 5px;
}

div#wholeTitle > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#headerImage {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 333px;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

div#mainContent {
    position: absolute;
    top: 383px;
    left: 0;
    right: 0;
}

div#headerRow {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

div#headerRow a {
    color: gray;
    pointer-events: initial;
}

div#headerRow a.leftItem {
    padding-right: 40px;
    font-size: 13px;
}

div#headerRow a.rightItem {
    float: right;
    padding-left: 10px;
}

div#headerRow a:hover {
    text-decoration: none;
    cursor: pointer;
}

div#formRightText {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 0 solid black;
}

.ingredientBox {
    display: inline-block;
    width: 50%;
    float: left;
}

.background-image-thumb {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    padding: 5px;
    float: left;
    position: relative;
}

@media screen and (min-width: 992px) {
    div#formRight {
        padding-right: 0;
        padding-left: 30px;
    }

    div#formRightMain {
        padding-right: 0;
    }

    div#formRightText {
        padding-left: 30px;
        padding-right: 60px;
        border-right: 1px solid black;
    }

    div.formLeftPad {
        padding-left: 0;
    }

    div#wholeContainer {
        margin-top: 50px;
    }

    .ingredientBox {
        width: 33.33333333333333333%;
    }

    .background-image-thumb {
        width: 50%;
    }

    .recipeNutrition {
        padding-right: 15px;
    }

    .step .hint {
        position: absolute;
        left: 100%;
        width: 250px;
        top: 50%;
        padding-left: 45px;
        padding-top: 40px;
        background-image: url(/images/arrow.png);
        background-position: top left;
        background-size: 40px 40px;
        background-repeat: no-repeat;
    }

    .step .hint.right {
        left: auto;
        right: 100%;
        padding-left: 0;
        padding-right: 45px;
        background-image: url(/images/arrow_right.png);
        background-position: top right;
        text-align: right;
    }
}

.step .hint {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.rightContainer {
    padding: 0;
    padding-left: 70px;
}

.rightContainer a {
    color: gray;
    text-decoration: underline;
}

.leftContainer {
    font-size: 16px;
}

.leftContainer h2 {
    margin-top: 0;
}

.rightTitle {
    font-size: 17px;
}

.rightPortrait {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 200px;
    background-size: cover;
    background-position: top left;
}

.smallLine {
    height: 5px;
    width: 30px;
    background-color: black;
    display: inline-block;
}

#footer {
    text-align: center;
    font-size: 13px;
    color: gray;
    padding: 50px;
}

#footer * {
    color: gray;
}

.date {
    color: gray;
}

.blogPost .image {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.blogPost > .btn {
    float: right;
}

.background-image-thumb:hover {
    border: 5px solid grey;
}

#postContainer a {
    background-color: #f2f0ed;
}

#postContainer img {
    max-width: 100%;
}

.category {
    margin: -2px;
    display: inline-block;
    padding: 15px 0;
    height: auto;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: clip;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    float: none;
    text-align: center;
    opacity: 1;
}

.category .categroyImage {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.category:hover {
    opacity: 0.7;
}

.categoryPlaceholder {
    width: 100%;
    height: 50px;
    position: relative;
    clear: both
}

.category.categoryTotal {
    opacity: 0.9;
    width: 100%;
    position: relative;
    z-index: 9;
    background-color: white;
    float: left;
}

ul.archiveList, ul.archiveList ul {
    padding: 0 20px;
}

.postTitle, .postDate {
    background-color: #F2F0ED;

    opacity: 0.8;
    color: black;
    padding: 5px 10px;
}

.postDate {
    position: absolute;
    bottom: 5px;
    right: 5px  ;
}

.step {
    position: relative;
    margin-bottom: 15px;
    clear: both;
}

.step > .description {
    margin-left: 40px;
    padding-top: 10px;
}

.step > .index {
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding-right: 5px;
    height: 100%;
    position: absolute;
}

.clearfix {
    clear: both;
}

.sectionTitle {
    font-variant: small-caps;
    font-size: 24px;
    margin-bottom: 20px;
}

.feedsN {
    color: #adadad;
    font-size: 17px;
    margin-bottom: 10px;

}

#postContainer .piItem a {
    background-color: transparent;
}

.postIngredient {
    background-color: #f2f0ed;
    padding: 5px;
}

.piItem {
    padding: 5px 0;
}

.piItem, .step {
    font-size: 20px;
}

.postIngredient:hover {
    color: white;
    background-color: black;
}

.jump {
    padding: 0 5px;
}

.letterBox {
    background-color: black;
    padding: 8px 12px;
    color: white;
    display: inline-block;
    clear: both;
    margin-bottom: 20px;
}

.bothMarg {
    clear: both;
    margin-top: 20px;
}

.postRef {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
}

.postRef img {
    width: 100%;
}

.recipeAppendix {
    font-size: 120%;
}

.ingredientList {
    padding-bottom: 40px;
}