{% extends "base.html.twig" %}

{% block containerLeft %}
    {% for category in categories %}
        <h1>{{ category.name }}</h1>

    {% endfor %}

    {% for post in posts %}
        {% include 'home/archiveItem.html.twig' %}
    {% endfor %}
{% endblock %}