{% extends 'base.html.twig' %}

{% block containerLeft %}
    {% for post in posts %}
        {% include 'post/show.html.twig' %}
    {% endfor %}
{% endblock %}

{% block containerRight %}
    {{ parent() }}

    <br><br><br>
    <div class="rightTitle">RECENT POSTS</div>
    <span class="smallLine"></span>
    <br>
    {% for post in recentPosts %}
        <a class="postRef" href="{{ path('blog_post', {'slug': post.slug}) }}">
            <div class="title">{{ post.title }}</div>

            {% thumbnail post.picture, 'small' %}
            <div class="image" style="background-image: url({% path post.picture, 'reference' %})"></div>
        </a>
    {% endfor %}
{% endblock %}